{% extends "base.html" %}

{% block container %}



<div class="container">
  <div class="row">
    <div class="col">
      <div class="titulo">
        <h1>WHERE DO YOU WANT TO GO ? </h1>
      </div>
    </div>

    <div class="w-100"></div>
    <div class="col">
      <div class="bloque">

        <div class="row">

          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
          </form>

        </div>



      </div>
    </div>
    <div class="col">
      <div class="right-path" style="margin-top: 200px;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Model</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            {% for bike in bikes %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ bike.name }}</td>
              <td>{{ bike.price }}€</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>






<div class="trip">

  <a class="start_trip">START YOUR TRIP</a>
</div>




{% endblock %}