{% extends "base.html" %}

{% block container %}
<div class="background" ></div>
<div class="titulo1">
    <br />
    MundiMoto Renting
</div>

<div class="left"></div>
<div class="left">
    Discover online how to get a motorcycle to go anywhere.
    Register on our website to obtain more information and be part of our MundiMoto network.
    <br /><br />
</div>


<div class="center">

    <button class="btn">
        <a href="{% url 'login' %}">
            Login
        </a>
    </button>
    <button class="btn">
        <a href="{% url 'registrar' %}">
            Register
        </a>
    </button>
    <br />
    <br />
</div>

<div class="center">
    <a href="{% url 'home' %}">
            <button class="buttonHeader" style="margin-right:5px;">
            Start Trip
        </button>
    </a>
    <a href="{% url 'explanation' %}">
        <button class="buttonHeader" style="width: 100%; margin-left: 5px;">
            How it works    
        </button>
</a>
</div>





{% endblock %}