
{% extends "base.html" %}

{% block container %}


<div class="login-form">
    <form  id="formulari-sign" action="{% url 'user_login' %}" method="POST">
        {% csrf_token %}
      <h1>Login</h1>
      <div class="content">
        <div class="input-field">
          <input type="username" placeholder="username" name="username">
        </div>
        <div class="input-field">
          <input type="password" placeholder="Password" name="password">
        </div>
      </div>
      <input class="button is-link" type="submit" name="" value="login" style="text-align:center">
    </form>
  </div>

{% endblock %}