
{% extends "base.html" %}

{% block container %}


<div class="overlay" style="margin-left:480px; margin-top:300px">

   
        <h2>Hello, Friend!</h2>
        <p>Enter your personal details and start journey with us</p>
        

    <form action="{% url 'registrar' %}" method="POST" >
        {% csrf_token%}
        {{user_form.as_p}}
        {% if messages %}
        {% for message in messages %}
         <script>


                        alert('{{message}}')

              </script>
         {% endfor %}

        {% endif %}
        <button type="submit" class="btn btn-success">Register</button>
    </form>

    <a class="button" href="{%url 'login' %}">Sign In></a>
</div>

{% endblock %}