
{% extends "base.html" %}

{% block container %}

        <div class="login-form">
            <form  id="formulari-sign" action="{% url 'registrar' %}" method="POST">
                {% csrf_token%}
                {{user_form.as_p}}
                {% if messages %}
                {% for message in messages %}
                 <script>
        
        
                                alert('{{message}}')
        
                      </script>
                 {% endfor %}
        
                {% endif %}
           
              <div class="container mt-5">
                <input class="button is-link" type="submit" name="" style="margin-left: 220px;
                    margin-bottom: 20px; ">
              </div>
            </form>
        </div>

{% endblock %}